@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Figtree', sans-serif;
  font-weight: normal;
  background-color: #f2f2f7 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    place-items: center;
    align-items: center;
    justify-content: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
